[submodule "nginx"]
	path = nginx
	url = git@github.com:lazyguru/docker-m2-nginx
[submodule "varnish"]
	path = varnish
	url = git@github.com:lazyguru/docker-m2-varnish
[submodule "php"]
	path = php
	url = git@github.com:lazyguru/docker-m2-php
